
body{
	background-image: none;
}
.description {
	display: flex;
	justify-content: center;
}

.description h3 {
	font-family: sans-serif;
	background-color: #dd9366;
	color: black;
	margin-left:10%;
	margin-right:10%;
	margin-bottom: 2%;
	padding: 20px;
	text-align: center;
	border-radius: 3px;
}
.galery {
	display: flex;
	flex-direction: column;

}

.galery_row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 3%;
	margin:1%;
}

.galery_item {
	background-color: white;
	display: flex;
	width: 24vw;
	height:24vw;
	position: relative;
	margin-bottom: 15px;
}

.galery_item img {
	object-fit: cover;
	width:100%;
	height: 100%;

}
.name {
	border-radius: 3px;
}
.galery_item p{
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: transparent;
  	text-transform: uppercase;
  	text-align: justify;
}

.galery_item:hover {
	
	opacity: 94%;
}

.galery_item:hover .name {
	transition: 0.5s;
	color: white;
	font-weight: bold;
	background-color: #dd9366;
	padding:10px;
	font-style: italic;

}

@media screen and (max-width: 1000px){
	.galery {
		justify-content: center;
		align-items: center;
	}

	.galery_row {
		display: flex;
		flex-direction: column;
	}

	.galery_item {
		border: 0px solid black;
		padding:20px;
		width: 80vw;
		height:80vw;
	}
}