
/*css Qui sommes nous*/




/* page */

.together {
  align-items: center;
  justify-content: center;
  max-width:100%;
  margin-top: -20px;

}
/*petit contrôle de l'image tmtc */

.bandeau img{
  max-width: 100%;
  object-fit: cover;
  min-width: 100%;
  height: 500px;
  background-color: white;

}

#section2{
  padding-top: 1%;
  background-color: white;
  margin-top: 4%;
  margin-left:2%;
  margin-right:2%;
  margin-bottom: 2%;

}


#cadre{

  background-color: #432482;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  border-radius: 20px;
  padding: 1%;
  min-width: 200px;


}

#titre{

  text-align: center;
  color: white;
  line-height: 140%;

}



/*** SECTION 2***/

/* Menu de sélection */
.menu {
  display: flex;
  justify-content: center;
}

/* Div qui contient les 4 cases */
.home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}



/* Lien modifié par mes petits soins*/
.qsn_row {
  flex-direction: row;
  display: flex;
}
/* une case*/
.qsn_menu {
  display: flex;
  margin: 40px;
  position: relative;
  text-align: center;
  color: black;
  font-size: 20px;
  width: 400px;
  height: 200px;
  background-color: white;
  object-fit: cover;
  padding: 1%;

}

.qsn_menu img {
    border:2px black solid;
}
/* Lien modifié par mes petits soins*/
.mod_link {
  color: #fe8664;
  text-shadow: 1px 1px black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: georgia;
  border: 5px transparent solid;
}


.menu_image {
  object-fit: contain;
  height: 100%;
  width: 100%;
  display: flex;
}

.menu_image:hover {

}
.qsn_menu:hover {

}

.qsn_menu:hover .menu_image {
  opacity: 80%;
}
.qsn_menu:hover .qsn_menu_button {

  padding: 5px;
  padding-left:  25px;
  padding-right: 25px;
  background-color: #432482;
  transition: 0.5s;
  border-radius: 12px;
  
}
.qsn_menu:hover .mod_link{
  color: white;
  text-decoration: none;
  opacity: 80%;
  border-radius: 3px;
  transition: 0.5s;

}
.qsn_menu_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 120%);
  background-color: #432482;
  transition: 0.5s;
  border-radius: 12px;
  padding: 1%;
  font-family: sans-serif;
}

@media screen and (max-width: 800px){
  .qsn_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .qsn_menu {
    justify-content: center;
    align-items: center;
  }
  .menu_image {
    width: 40vw;
    height: 40vw;
    justify-content: center;
    align-items: center;
  }


}





/*Le container pour les deux divs du bas */

.page_container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: lightgrey;


}

/*ça c'est la partie gauche avec le texte et les questions */

.desc_event{
  display: flex;
  flex-direction: column; /*c'est juste pour superposer les textes */
  flex-grow: 1;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px black solid;
}

.desc_event h1 {
  color:#432482;
  font-size:18px;
  text-transform: uppercase; /* stylé ça ça met tout en majuscule*/
  text-align: center;
}

.desc_event p {
  color:#fe8664;
  font-size:25px;
  text-align: center;
  font-style: italic;
}

.desc_event span {
  color: red;
}
/* image de droite logique ta capté*/
.img_event {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.img_event img{
  border: 1px black solid;
}



/*Footer*/

/**/

@media screen and (max-width: 800px) {

  .bandeau img{
    object-fit: cover;
    height: 240px;
  }
  .page_container {
    display: flex;
    flex-direction: column;
  }
  .desc_event {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .img_event img {
    object-fit: cover; /* GIIIIIIIIIIIGA IMPPPPPPOOOOOOOOOOOOOOOORTANT pour les images responsives qui dépassent des divs ou de l'écran*/
    width:  100%;
  }

}

}
/**/